<p>Angular Template-driven forms</p>

<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
  <p>
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" ngModel />
  </p>

  <p>
    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" ngModel required />
  </p>

  <p>
    <!-- <input type="text" name="value" #name [(ngModel)]="value" /> -->

    <label for="email">Email </label>
    <!-- <input type="text" id="email" name="email" ngModel /> -->
    <!-- <input
      matInput
      type="text"
      id="email"
      name="email"
      #email="ngModel"
      [(ngModel)]="email"
      required
    />
  </p> -->
  </p>

  <p>
    <label for="gender">Geneder</label>
    <input type="radio" value="male" name="gender" ngModel /> Male
    <input type="radio" value="female" name="gender" ngModel /> Female
  </p>

  <p>
    <label for="isMarried">Married</label>
    <input type="checkbox" name="isMarried" ngModel />
  </p>

  <p>
    <button type="submit">Submit</button>
    <button type="button" (click)="click()">click</button>
  </p>
</form>

<!-- https://www.tektutorialshub.com/angular/how-to-set-value-in-template-driven-forms-in-angular/ -->
